{{!-- game passed from homepage.handlebars --}}

<a href = 'https://store.steampowered.com/app/{{appid}}' target = '_blank'>
    <div class = 'card'>
      <article class = 'game card_content'>
        <div class = 'card_title'> 
          <img src = '{{img_icon_url}}' alt = 'Logo of {{name}}'>
          <p >{{name}}</p>
        </div>
        <div class = 'card_text'>
          <span>Hours Played: {{hours_played}}</span>
        </div>
      </article>
    </div>
</a>

{{!-- steam store url is store.steampowered.com/app/appid
<a href = '/game/{{id}}' target = '_blank'>--}}