<a href = '/game/{{id}}'>
    <div class = 'card'>
      <article class = 'game card_content'>
        <div class = 'card_title'> 
          <img src ="http://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_icon_url}}.jpg" alt ='Logo of {{name}}'>
          <p >{{name}}</p>
        </div>
        <div class = 'card_text'>
          <span>Hours Played: {{user.usergame.playtime}}</span>
        </div>
      </article>
    </div>
</a>
